
body, html {
  height: 100%;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game {
  display: none;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

input:checked + .game {
  display: grid;
}

input:checked::before {
  content: attr(id);
  position: absolute;
  margin-left: 20px;
}

.game label {
  height: 50px;
  width: 50px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  cursor: pointer;
}

.game.r1 > label:nth-of-type(1)::after,
.game.r2 > label:nth-of-type(2)::after,
.game.r3 > label:nth-of-type(3)::after,
.game.r4 > label:nth-of-type(4)::after,
.game.r5 > label:nth-of-type(5)::after,
.game.r6 > label:nth-of-type(6)::after,
.game.r7 > label:nth-of-type(7)::after,
.game.r8 > label:nth-of-type(8)::after,
.game.r9 > label:nth-of-type(9)::after {
  content: 'X';
  font-size: 52px;
  line-height: 52px;
}

.game.g1 > label:nth-of-type(1)::after,
.game.g2 > label:nth-of-type(2)::after,
.game.g3 > label:nth-of-type(3)::after,
.game.g4 > label:nth-of-type(4)::after,
.game.g5 > label:nth-of-type(5)::after,
.game.g6 > label:nth-of-type(6)::after,
.game.g7 > label:nth-of-type(7)::after,
.game.g8 > label:nth-of-type(8)::after,
.game.g9 > label:nth-of-type(9)::after {
  content: 'O';
  font-size: 52px;
  line-height: 52px;
}

.game.r1 > label:nth-of-type(1),
.game.r2 > label:nth-of-type(2),
.game.r3 > label:nth-of-type(3),
.game.r4 > label:nth-of-type(4),
.game.r5 > label:nth-of-type(5),
.game.r6 > label:nth-of-type(6),
.game.r7 > label:nth-of-type(7),
.game.r8 > label:nth-of-type(8),
.game.r9 > label:nth-of-type(9)
{
  background: red;
  cursor: not-allowed;

}

.game.g1 > label:nth-of-type(1),
.game.g2 > label:nth-of-type(2),
.game.g3 > label:nth-of-type(3),
.game.g4 > label:nth-of-type(4),
.game.g5 > label:nth-of-type(5),
.game.g6 > label:nth-of-type(6),
.game.g7 > label:nth-of-type(7),
.game.g8 > label:nth-of-type(8),
.game.g9 > label:nth-of-type(9)
{
  background: green;
  cursor: not-allowed;
}

input {
  display: none;
}

#resetButton {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
}

.game.winner-r::after,
.game.winner-g::after, 
.game.winner-d::after {
  grid-column: 1 /4;
  text-align: center;
  padding: 6px;
  border-radius: 4px;
  color: white;
}
.game.winner-r::after {
  content: 'You win!';
  background-color: red;
}
.game.winner-g::after {
  content: 'You lost!!';
  background-color: green;
}
.game.winner-d::after {
  content: 'It\'s a draw!';
  background-color: #ccc;
}
